/* You can add global styles to this file, and also import other style files */
.card
.form {
    margin-top : 1rem;
}


.state-0 {
    color: rgb(255, 165, 47)
}
.state-1 {
    color: rgb(47, 206, 255)
}
.state-2 {
    color: rgb(120, 47, 255)
} 
