<div class="container">
<form class="form"  (ngSubmit)="process()" novalidate [formGroup]="form" >
    <div class="form-group">
      <input formControlName="name" name="name" class="form-control" type="text" placeholder="Nom et prénom" >
      <div class="alert alert-danger" *ngIf="isError('name')">Champs invalide</div>
    </div>
    <div class="form-group">
        <input formControlName="reference" name="ref" class="form-control" type="text" placeholder="Réf" >
        <div class="alert alert-danger" *ngIf="isError('reference')">Champs invalide</div>
      </div>
  <div class="form-group">
    <select formControlName="state" name="state"  class="form-control">
        <option [ngValue]="state.ALIVRER">A livrer</option>
        <option [ngValue]="state.ENCOURS">En cours</option>
        <option [ngValue]="state.LIVREE">Livrée</option>
    </select>
  </div>
  <div class="form-group">
      <input  [disabled]="form.invalid" class="btn btn-primary" type="submit" value="Envoyer">
  </div>
    
  </form>
</div>